<{include file="file:admin_header.html"}>

<form id="<{$dirname}>_itemform" name="<{$dirname}>_itemform" action="maintenance_itemwithdraw.php" method="post" enctype="multipart/form-data">
<input id="<{$dirname}>_op" type="hidden" name="op" value="">
<input id="<{$dirname}>CheckedXID" type="hidden" name="checked_indexes" value="">
<{$token_ticket}>
<table width="100%" cellspacing="0" class="outer">
  <tbody>
<{if $index_flg}>
  <tr>
    <td style="width: 20%; text-align: left;" class="head"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEM_INDEX}></td>
    <td style="width: 80%; text-align: left;" class="odd">
<script type="text/javascript" charset="utf-8">
jQuery(function(){
	jQuery('#<{$dirname}>_item_withdraw_index_tree_tabs').tabs({
	});
});
</script>
<script type="text/javascript" charset="utf-8">
var getIndexesInfo = function() {
    var data = "action=Ajax&method=GetIndexesInfo&function=commonItemWithDraw";
    jQuery.ajax({
        type: 'GET',
        scriptCharset: 'utf-8',
        dataType: 'json',
        url: '<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/index.php',
        data: data,
        success: function(json) {
            jQuery.each(json.trees, function() {
                jQuery('#' + json.dirname + '_item_withdraw_index_tree_div_' + this.index_id).jstree({
                    "core" : {
                        "data" : this.html
                    },
                    "plugins" : [ "checkbox" ],
                    "checkbox" : {
                        "three_state" : false
                    }
                });
            });

            var checkedIndexId = jQuery('#' + json.dirname + 'CheckedXID');
            jQuery("[id^=" + json.dirname + '_item_withdraw_index_tree_div_' + "]").bind("changed.jstree", function (e, data) {
                var checkedIndexes = [];
                jQuery("[id^=" + json.dirname + '_item_withdraw_index_tree_div_' + "]").each(function() {
                    checked = jQuery(this).jstree("get_selected", true);
                    jQuery.each(checked, function() {
                        checkedIndexes.push(this.id);
                    });
                });
                checkedIndexId.val(checkedIndexes.join(","));
                jQuery.cookie('item_withdraw_checked_indexes', checkedIndexes.join(":"), { expires: 1, path: '/' });
            });

            jQuery("[id^=" + json.dirname + '_item_withdraw_index_tree_div_' + "]").bind("open_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("item_withdraw_opened_indexes");
                if (nodes == null) {
                    node = data.node.id;
                    jQuery.cookie('item_withdraw_opened_indexes', node, { expires: 1, path: '/' });
                } else {
                    nodes = nodes + ":" + data.node.id;
                    jQuery.cookie('item_withdraw_opened_indexes', nodes, { expires: 1, path: '/' });
                }
            });

            jQuery("[id^=" + json.dirname + '_item_withdraw_index_tree_div_' + "]").bind("close_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("item_withdraw_opened_indexes");
                if (nodes == null) {
                    return false;
                }
                nodes = jQuery.cookie("item_withdraw_opened_indexes").split(":");
                close_node = data.node.id;
                item_withdraw_opened_indexes = "";
                first = true;
                for (i = 0; i < nodes.length; i++) {
                    if (nodes[i] != close_node && nodes[i] != null) {
                        if (first) {
                            item_withdraw_opened_indexes = nodes[i];
                            first = false;
                        } else {
                            item_withdraw_opened_indexes = item_withdraw_opened_indexes + ":" + nodes[i];
                        }
                    }
                }
                jQuery.cookie('item_withdraw_opened_indexes', item_withdraw_opened_indexes, { expires: 1, path: '/' });
            });
        }
    });
};
if(window.addEventListener) {
    window.addEventListener("load", getIndexesInfo, false);
} else if(window.attachEvent){
    window.attachEvent("onload", getIndexesInfo);
}
</script>
<div id="<{$dirname}>_item_withdraw_treecontrol" style="float: none; clear: both; margin: 0px 0px 3px 0px; padding: 0px;">
<button type="button" class="formButton" id="open_all">open all</button>
<button type="button" class="formButton" id="close_all">close all</button>
</div>
<div style="margin: 0px; padding: 0px;font-size:80%;" id="<{$dirname}>_item_withdraw_index_tree_tabs">
<ul>
<{foreach item=index from=$indexes}>
	<li><a href="#<{$dirname}>_item_withdraw_index_tree_div_<{$index.index_id|xoops_escape}>"><{$index.title|xoops_escape}></a></li>
<{/foreach}>
</ul>
<{foreach item=tree from=$trees}>
	<div id="<{$dirname}>_item_withdraw_index_tree_div_<{$tree.index_id|xoops_escape}>" style="border-right: 1px solid #404040;border-top: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4;
            border-bottom: 1px solid #858585; border-right: 1px solid #858585; padding: 0px; margin: 0px;">
	<ul id="<{$dirname}>_item_withdraw_index_tree_<{$tree.index_id|xoops_escape}>" class="filetree">
	<!-- <{$tree.html}> -->
	</ul>
	</div>
<script type="text/javascript">
jQuery('#open_all').click(function(){jQuery('#<{$dirname}>_item_withdraw_index_tree_div_<{$tree.index_id|xoops_escape}>').jstree('open_all');});
jQuery('#close_all').click(function(){jQuery('#<{$dirname}>_item_withdraw_index_tree_div_<{$tree.index_id|xoops_escape}>').jstree('close_all');});
</script>
<{/foreach}>
</div>
    </td>
  </tr>
<{/if}>
  </tbody>
</table>
<{if $index_flg}>
<div style="text-align: left">
 	<input class="formButton" type="button" value="<{$smarty.const._AM_XOONIPS_LABEL_DECIDE}>" onclick="op.value='confirm'; submit();" />&nbsp;&nbsp;
</div>
<{/if}>
</form>


<{include file="file:admin_footer.inc.html"}>
