<{include file="file:admin_header.html"}>

<script type="text/javascript" charset="utf-8">
jQuery(function(){
    jQuery('#<{$dirname}>_itemform :button[rel^="<{$dirname}>Popin"]').<{$mytrustdirname}>Popin({
        width : 400, /* false/integer */
        height: 400, /* false/integer */
        callback: function(id, value) {
            var form=jQuery('#<{$dirname}>_itemform');
            jQuery('#<{$dirname}>_' + id).attr('value',value);
            jQuery('#<{$dirname}>_op').attr('value','index');
            form.submit();
            return false;
        }
    });
});
</script>

<form id="<{$dirname}>_itemform" name="<{$dirname}>_itemform" action="maintenance_itemtransfer.php" method="post" enctype="multipart/form-data">
<input id="<{$dirname}>_op" type="hidden" name="op" value="">
<input id="<{$dirname}>CheckedXIDFrom" type="hidden" name="checked_indexes_from" value="">
<input id="<{$dirname}>CheckedXIDTo" type="hidden" name="checked_indexes_to" value="">

<{$token_ticket}>
<table width="100%" cellspacing="0" class="outer">
  <tbody>
  <tr>
    <th style="text-align: left;" colspan="2"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEMTRANSFER_FROM}></th>
  </tr>
  <tr>
	<td style="width: 20%; text-align: left;" class="head">
	  <table>
	  <tr>
	  <td style="text-align: left;border: 0px;"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEMTRANSFER_USER}></td>
	  <td style="text-align: right; border: 0px;"><input type="button" href="../index.php?action=Ajax&method=UserSelect&callbackid=searchUserID_from&mode=single" rel="<{$dirname}>Popin" value="<{$smarty.const._AD_XOONIPS_LANG_SEARCH}>"></td>
      </tr>
	  </table>
	</td>
	<td class="even" style="width: 80%; vertical-align: top;">
	<{$searchUserName_from|xoops_escape}>
	<input type="hidden" id="<{$dirname}>_searchUserID_from" name="searchUserID_from" value="<{$searchUserID_from}>">
	<input type="hidden" id="<{$dirname}>_searchUserName_from" name="searchUserName_from" value="<{$searchUserName_from}>">
    </td>
  </tr>
<{if $index_from_flg}>
  <tr>
    <td style="width: 20%; text-align: left;" class="head"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEM_INDEX}></td>
    <td style="width: 80%; text-align: left;" class="odd">
<script type="text/javascript" charset="utf-8">
jQuery(function(){
	jQuery('#<{$dirname}>_item_transfer_index_from_tree_tabs').tabs({
        active: jQuery.cookie('item_transfer_index_from_tree_selected_tab'),
        activate: function(event, ui) {
            item_transfer_index_from_tree_selected_tab = ui.newTab.index();
            jQuery.cookie('item_transfer_index_from_tree_selected_tab', item_transfer_index_from_tree_selected_tab, { expires: 1 });
        },
	});
});
</script>
<script type="text/javascript" charset="utf-8">
function getFromIndexesInfo() {
    var data = "action=Ajax&method=GetIndexesInfo&function=commonItemTransferFrom";
    data += "&searchUserID=" + jQuery('#<{$dirname}>_searchUserID_from').val();
    jQuery.ajax({
        type: 'GET',
        scriptCharset: 'utf-8',
        dataType: 'json',
        url: '<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/index.php',
        data: data,
        success: function(json) {
            jQuery.each(json.trees, function() {
                jQuery('#' + json.dirname + '_item_transfer_index_from_tree_div_' + this.index_id).jstree({
                    "core" : {
                        "data" : this.html
                    },
                    "plugins" : [ "checkbox" ],
                    "checkbox" : {
                        "three_state" : false
                    }
                });
            });

            var checkedIndexId = jQuery('#' + json.dirname + 'CheckedXIDFrom');
            jQuery("[id^=" + json.dirname + '_item_transfer_index_from_tree_div_' + "]").bind("changed.jstree", function (e, data) {
                var checkedIndexes = [];
                jQuery("[id^=" + json.dirname + '_item_transfer_index_from_tree_div_' + "]").each(function() {
                    checked = jQuery(this).jstree("get_selected", true);
                    jQuery.each(checked, function() {
                        checkedIndexes.push(this.id);
                    });
                });
                checkedIndexId.val(checkedIndexes.join(","));
                jQuery.cookie('item_transfer_from_checked_indexes', checkedIndexes.join(":"), { expires: 1, path: '/' });
            });

            jQuery("[id^=" + json.dirname + '_item_transfer_index_from_tree_div_' + "]").bind("open_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("item_transfer_from_opened_indexes");
                if (nodes == null) {
                    node = data.node.id;
                    jQuery.cookie('item_transfer_from_opened_indexes', node, { expires: 1, path: '/' });
                } else {
                    nodes = nodes + ":" + data.node.id;
                    jQuery.cookie('item_transfer_from_opened_indexes', nodes, { expires: 1, path: '/' });
                }
            });

            jQuery("[id^=" + json.dirname + '_item_transfer_index_from_tree_div_' + "]").bind("close_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("item_transfer_from_opened_indexes");
                if (nodes == null) {
                    return false;
                }
                nodes = jQuery.cookie("item_transfer_from_opened_indexes").split(":");
                close_node = data.node.id;
                item_transfer_from_opened_indexes = "";
                first = true;
                for (i = 0; i < nodes.length; i++) {
                    if (nodes[i] != close_node && nodes[i] != null) {
                        if (first) {
                            item_transfer_from_opened_indexes = nodes[i];
                            first = false;
                        } else {
                            item_transfer_from_opened_indexes = item_transfer_from_opened_indexes + ":" + nodes[i];
                        }
                    }
                }
                jQuery.cookie('item_transfer_from_opened_indexes', item_transfer_from_opened_indexes, { expires: 1, path: '/' });
            });
        }
    });
};
if (window.addEventListener) {
    window.addEventListener("load", getFromIndexesInfo, false);
} else if(window.attachEvent){
    window.attachEvent("onload", getFromIndexesInfo);
}
</script>
<div id="<{$dirname}>_item_transfer_treecontrol" style="float: none; clear: both; margin: 0px 0px 3px 0px; padding: 0px;">
<button type="button" class="formButton" id="open_all_from">open all</button>
<button type="button" class="formButton" id="close_all_from">close all</button>
</div>
<div style="margin: 0px; padding: 0px;font-size:80%;" id="<{$dirname}>_item_transfer_index_from_tree_tabs">
<ul>
<{foreach item=index from=$indexes_from}>
	<li><a href="#<{$dirname}>_item_transfer_index_from_tree_div_<{$index.index_id}>"><{$index.title|xoops_escape}></a></li>
<{/foreach}>
</ul>
<{foreach item=tree from=$trees_from}>
	<div id="<{$dirname}>_item_transfer_index_from_tree_div_<{$tree.index_id}>" style="border-right: 1px solid #404040;border-top: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4;
            border-bottom: 1px solid #858585; border-right: 1px solid #858585; padding: 0px; margin: 0px;">
	<ul id="<{$dirname}>_item_transfer_index_from_tree_<{$tree.index_id}>" class="filetree">
	<!-- <{$tree.html}> -->
	</ul>
	</div>
<script type="text/javascript">
jQuery('#open_all_from').click(function(){jQuery('#<{$dirname}>_item_transfer_index_from_tree_div_<{$tree.index_id}>').jstree('open_all');});
jQuery('#close_all_from').click(function(){jQuery('#<{$dirname}>_item_transfer_index_from_tree_div_<{$tree.index_id}>').jstree('close_all');});
</script>
<{/foreach}>
</div>
    </td>
  </tr>
<{/if}>
  </tbody>
</table>

<{if $index_from_flg}>
<table width="100%" cellspacing="0" class="outer">
  <tbody>
  <tr>
    <th style="text-align: left;" colspan="2"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEMTRANSFER_TO}></th>
  </tr>
  <tr>
	<td style="width: 20%; text-align: left;" class="head">
	  <table>
	  <tr>
	  <td style="text-align: left;border: 0px;"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEMTRANSFER_USER}></td>
	  <td style="text-align: right; border: 0px;"><input type="button" href="../index.php?action=Ajax&method=UserSelect&callbackid=searchUserID_to&mode=single" rel="<{$dirname}>Popin" value="<{$smarty.const._AD_XOONIPS_LANG_SEARCH}>"></td>
      </tr>
	  </table>
	</td>
	<td class="even" style="width: 80%; vertical-align: top;">
	<{$searchUserName_to|xoops_escape}>
	<input type="hidden" id="<{$dirname}>_searchUserID_to" name="searchUserID_to" value="<{$searchUserID_to}>">	
	<input type="hidden" id="<{$dirname}>_searchUserName_to" name="searchUserName_to" value="<{$searchUserName_to}>">	
    </td>
  </tr>
<{if $index_to_flg}>
  <tr>
    <td style="width: 20%; text-align: left;" class="head"><{$smarty.const._AM_XOONIPS_MAINTENANCE_ITEM_INDEX}></td>
    <td style="width: 80%; text-align: left;" class="odd">
<script type="text/javascript" charset="utf-8">
jQuery(function(){
	jQuery('#<{$dirname}>_item_transfer_index_to_tree_tabs').tabs({
        active: jQuery.cookie('item_transfer_index_to_tree_selected_tab'),
        activate: function(event, ui) {
            item_transfer_index_to_tree_selected_tab = ui.newTab.index();
            jQuery.cookie('item_transfer_index_to_tree_selected_tab', item_transfer_index_to_tree_selected_tab, { expires: 1 });
        },
	});
});
</script>
<script type="text/javascript" charset="utf-8">
function getToIndexesInfo() {
    var data = "action=Ajax&method=GetIndexesInfo&function=commonItemTransferTo";
    data += "&searchUserID=" + jQuery('#<{$dirname}>_searchUserID_to').val();
    jQuery.ajax({
        type: 'GET',
        scriptCharset: 'utf-8',
        dataType: 'json',
        url: '<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/index.php',
        data: data,
        success: function(json) {
            jQuery.each(json.trees, function() {
                jQuery('#' + json.dirname + '_item_transfer_index_to_tree_div_' + this.index_id).jstree({
                    "core" : {
                        "data" : this.html
                    },
                    "plugins" : [ "checkbox" ],
                    "checkbox" : {
                        "three_state" : false
                    }
                });
            });

            var checkedIndexId = jQuery('#' + json.dirname + 'CheckedXIDTo');
            jQuery("[id^=" + json.dirname + '_item_transfer_index_to_tree_div_' + "]").bind("changed.jstree", function (e, data) {
                var checkedIndexes = [];
                jQuery("[id^=" + json.dirname + '_item_transfer_index_to_tree_div_' + "]").each(function() {
                    checked = jQuery(this).jstree("get_selected", true);
                    jQuery.each(checked, function() {
                        checkedIndexes.push(this.id);
                    });
                });
                checkedIndexId.val(checkedIndexes.join(","));
                jQuery.cookie('item_transfer_to_checked_indexes', checkedIndexes.join(":"), { expires: 1, path: '/' });
            });

            jQuery("[id^=" + json.dirname + '_item_transfer_index_to_tree_div_' + "]").bind("open_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("item_transfer_to_opened_indexes");
                if (nodes == null) {
                    node = data.node.id;
                    jQuery.cookie('item_transfer_to_opened_indexes', node, { expires: 1, path: '/' });
                } else {
                    nodes = nodes + ":" + data.node.id;
                    jQuery.cookie('item_transfer_to_opened_indexes', nodes, { expires: 1, path: '/' });
                }
            });

            jQuery("[id^=" + json.dirname + '_item_transfer_index_to_tree_div_' + "]").bind("close_node.jstree", function (e, data) {
                var nodes = jQuery.cookie("item_transfer_to_opened_indexes");
                if (nodes == null) {
                    return false;
                }
                nodes = jQuery.cookie("item_transfer_to_opened_indexes").split(":");
                close_node = data.node.id;
                item_transfer_to_opened_indexes = "";
                first = true;
                for (i = 0; i < nodes.length; i++) {
                    if (nodes[i] != close_node && nodes[i] != null) {
                        if (first) {
                            item_transfer_to_opened_indexes = nodes[i];
                            first = false;
                        } else {
                            item_transfer_to_opened_indexes = item_transfer_to_opened_indexes + ":" + nodes[i];
                        }
                    }
                }
                jQuery.cookie('item_transfer_to_opened_indexes', item_transfer_to_opened_indexes, { expires: 1, path: '/' });
            });
        }
    });
};
if(window.addEventListener) {
    window.addEventListener("load", getToIndexesInfo, false);
} else if(window.attachEvent) {
    window.attachEvent("onload", getToIndexesInfo);
}
</script>
<div id="<{$dirname}>_item_transfer_treecontrol" style="float: none; clear: both; margin: 0px 0px 3px 0px; padding: 0px;">
<button type="button" class="formButton" id="open_all_to">open all</button>
<button type="button" class="formButton" id="close_all_to">close all</button>
</div>
<div style="margin: 0px; padding: 0px;font-size:80%;" id="<{$dirname}>_item_transfer_index_to_tree_tabs">
<ul>
<{foreach item=index from=$indexes_to}>
	<li><a href="#<{$dirname}>_item_transfer_index_to_tree_div_<{$index.index_id}>"><{$index.title|xoops_escape}></a></li>
<{/foreach}>
</ul>
<{foreach item=tree from=$trees_to}>
	<div id="<{$dirname}>_item_transfer_index_to_tree_div_<{$tree.index_id}>" style="border-right: 1px solid #404040;border-top: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4;
            border-bottom: 1px solid #858585; border-right: 1px solid #858585; padding: 0px; margin: 0px;">
	<ul id="<{$dirname}>_item_transfer_index_to_tree_<{$tree.index_id}>" class="filetree">
	<!-- <{$tree.html}> -->
	</ul>
	</div>
<script type="text/javascript">
jQuery('#open_all_to').click(function(){jQuery('#<{$dirname}>_item_transfer_index_to_tree_div_<{$tree.index_id}>').jstree('open_all');});
jQuery('#close_all_to').click(function(){jQuery('#<{$dirname}>_item_transfer_index_to_tree_div_<{$tree.index_id}>').jstree('close_all');});
</script>
<{/foreach}>
</div>
    </td>
  </tr>
<{/if}>
  </tbody>
</table>
<{/if}>
<{if $index_to_flg}>
<div style="text-align: left">
 	<input class="formButton" type="button" value="<{$smarty.const._AM_XOONIPS_LABEL_DECIDE}>" onclick="op.value='confirm'; submit();" />&nbsp;&nbsp;
</div>
<{/if}>
</form>

<{include file="file:admin_footer.inc.html"}>
