<{include file="file:admin_header.html"}>

<form name="<{$dirname}>_policy_itemfieldform" id="<{$dirname}>_policy_itemfieldform" action="policy_itemfield.php" method="post" enctype="multipart/form-data">
<p style="color:blue">&nbsp;&nbsp;&nbsp;<{$smarty.const._AM_XOONIPS_POLICY_ITEMFIELD_ATTENTION}></p>
<div style="text-align:right; margin-left: 10px; margin-bottom: 15px;">
  <span style="border-top: 1px solid #EEEEFF; border-left: 1px solid #EEEEFF; border-right: 1px solid #666699; border-bottom: 1px solid #666699; padding: 5px; background-color: #EEEEEE; vertical-align: top;">
    <span style="font-weight: bold; color: red;">&raquo;</span>&nbsp;&nbsp;
    <a href="policy_itemfield.php?op=register"><{$smarty.const._AM_XOONIPS_POLICY_ITEMFIELD_ADD_TITLE}></a>
  </span>
</div>
<{$token_ticket}>
<input type="hidden" name="op" id="<{$dirname}>_policy_itemfield_op" value="">
<div>
<table>
<tr>
<td style="width: 50%; text-align: left;">
</td>
<td style="width: 50%; text-align: right;"><{$navi_title|xoops_escape}></td>
</tr>
</table>
</div>
<table width="100%" cellspacing="1" class="outer">
  <tbody>
  <tr>
    <th style="text-align: left;" class="head"><{$smarty.const._AM_XOONIPS_LABEL_ITEMTYPE_DETAIL_NAME}></th>
    <th style="text-align: left;" class="head"><{$smarty.const._AM_XOONIPS_POLICY_ITEMFIELD_ID}></th>
    <th style="text-align: center;" class="head"><{$smarty.const._AM_XOONIPS_LABEL_ACTION}></th>
  </tr>
  <{foreach item=itemfield from=$itemfields}>
  <tr class= "<{cycle values='odd,even'}>">
    <td style="text-align: left;"><{$itemfield.name|xoops_escape}>&nbsp;&nbsp;<{if $itemfield.editing ne ''}><span class="<{$dirname}>_diff"><{$smarty.const._AM_XOONIPS_LABEL_ITEMTYPE_EDITING}></span><{/if}></td>
    <td style="text-align: left;"><{$itemfield.xml|xoops_escape}></td>
    <td style="text-align: center;">
      <a href="policy_itemfield.php?op=edit&amp;detailid=<{$itemfield.itemfieldid|xoops_escape}>&amp;perpage=<{$perpage|xoops_escape}>&amp;start=<{$startpage|xoops_escape}>">
        <img src="<{$xoops_url}>/modules/<{$dirname}>/image.php/icons/edit.png" alt="<{$smarty.const._AM_XOONIPS_LABEL_MODIFY}>" title="<{$smarty.const._AM_XOONIPS_LABEL_MODIFY}>"/>
      </a>&nbsp;
      <{if ($itemfield.disdel)}>
      <a href="index.php?action=PolicyItemFieldDelete&amp;field_id=<{$itemfield.itemfieldid|xoops_escape}>">
        <img src="<{$xoops_url}>/modules/<{$dirname}>/image.php/icons/delete.png" alt="<{$smarty.const._AM_XOONIPS_LABEL_DELETE}>" title="<{$smarty.const._AM_XOONIPS_LABEL_DELETE}>" />
      </a>
      <{/if}>
    </td>
  </tr>
  <{/foreach}>
  <{if count($itemfields)==0}>
  <tr>
    <td class="odd" colspan="3" style="text-align: center;">
      <span style="color: red; font-weight: bold;"><{$smarty.const._AM_XOONIPS_POLICY_ITEMTYPE_DETAIL_EMPTY}></span>
    </td>
  </tr>
  <{/if}>
  </tbody>
</table>
</form>
<br />
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{include file="file:admin_footer.inc.html"}>
