<{if $viewType eq 'input'}>
	<select name="<{$fieldName}>_m" id="<{$fieldName}>_m" rel="date">
	<option></option>
	<{foreach key=key item=monthName from=$monthList}>
		<option value="<{$key}>" <{if $key==$monthValue}>selected<{/if}>><{$monthName}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<select name="<{$fieldName}>_d" id="<{$fieldName}>_d" rel="date">
	<option></option>
	<{foreach key=key item=dayName from=$dayList}>
		<option value="<{$key}>" <{if $key==$dayValue}>selected<{/if}>><{$dayName}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<input type="text" name="<{$fieldName}>_y" maxlength="4" size="5" rel="date" id="<{$fieldName}>_y" value="<{$yearValue}>" />
	<input type="hidden" name="<{$fieldName}>" id="<{$fieldName}>" value="<{$value|xoops_escape}>" />
<{elseif $viewType eq 'confirm'}>
	<label><{$date|date_format}></label>
	<input type="hidden" name="<{$fieldName}>" value="<{$value|xoops_escape}>" />
<{elseif $viewType eq 'detail'}>
	<label><{$date|date_format}></label>
<{elseif $viewType eq 'search'}>
	<{if $scope=='1'}>From<{/if}>
	<select name="<{$fieldName}>_from_m" id="<{$fieldName}>_from_m" rel="date">
	<option></option>
	<{foreach key=key item=monthName from=$monthList}>
		<option value="<{$key}>" <{if $key==$monthFromValue}>selected<{/if}>><{$monthName}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<select name="<{$fieldName}>_from_d" id="<{$fieldName}>_from_d" rel="date">
	<option></option>
	<{foreach key=key item=dayName from=$dayList}>
		<option value="<{$key}>" <{if $key==$dayFromValue}>selected<{/if}>><{$dayName}></option>
	<{/foreach}>
	</select>&nbsp;&nbsp;
	<input type="text" name="<{$fieldName}>_from_y" maxlength="4" size="5" rel="date" id="<{$fieldName}>_from_y" value="<{$yearFromValue}>" />
	<input type="hidden" name="<{$fieldName}>[]" id="<{$fieldName}>_from" value="<{$dateFromValue}>" />
	<{if $scope=='1'}>
		&nbsp;&nbsp;To
		<select name="<{$fieldName}>_to_m" id="<{$fieldName}>_to_m" rel="date">
		<option></option>
		<{foreach key=key item=monthName from=$monthList}>
			<option value="<{$key}>" <{if $key==$monthToValue}>selected<{/if}>><{$monthName}></option>
		<{/foreach}>
		</select>&nbsp;&nbsp;
		<select name="<{$fieldName}>_to_d" id="<{$fieldName}>_to_d" rel="date">
		<option></option>
		<{foreach key=key item=dayName from=$dayList}>
			<option value="<{$key}>" <{if $key==$dayToValue}>selected<{/if}>><{$dayName}></option>
		<{/foreach}>
		</select>&nbsp;&nbsp;
		<input type="text" name="<{$fieldName}>_to_y" maxlength="4" size="5" rel="date" id="<{$fieldName}>_to_y" value="<{$yearToValue}>" />
		<input type="hidden" name="<{$fieldName}>[]" id="<{$fieldName}>_to" value="<{$dateToValue}>" />
	<{/if}>
<{elseif $viewType eq 'default'}>
	<input type="hidden" name="default_value" value="" />
<{/if}>
