<{if $viewType eq 'input'}>
	<select name="<{$fieldName|xoops_escape}>">
	<{foreach item=listName from=$list}>
		<option value="<{$listName.offset.value|xoops_escape}>" <{if $listName.offset.value==$value}>selected<{/if}>><{$listName.zone_name.value|xoops_escape}></option>
	<{/foreach}>
	</select>
<{elseif $viewType eq 'confirm'}>
	<{foreach item=listName from=$list}>
		<{if $listName.offset.value==$value}><{$listName.zone_name.value|xoops_escape}><{/if}>
	<{/foreach}>
	<input type="hidden" name="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>" />
<{elseif $viewType eq 'detail'}>
	<{foreach item=listName from=$list}>
		<{if $listName.offset.value==$value}><{$listName.zone_name.value|xoops_escape}><{/if}>
	<{/foreach}>
<{elseif $viewType eq 'search'}>
	<select name="<{$fieldName|xoops_escape}>">
	<option <{if $value===''}>selected<{/if}>></option>
	<{foreach item=listName from=$list}>
		<option value="<{$listName.offset.value|xoops_escape}>" <{if $value!=='' && $listName.offset.value==$value}>selected<{/if}>><{$listName.zone_name.value|xoops_escape}></option>
	<{/foreach}>
	</select>
<{/if}>
