<{if $viewType eq 'input'}>
	<table>
   	<tr><td><{$smarty.const._MD_USER_LANG_PASS}></td><td><input type="password" name="<{$fieldName|xoops_escape}>" size="<{$len|xoops_escape}>" value="" /></td></tr>
    <tr><td><{$smarty.const._MD_USER_LANG_PASS_CONFIRM}></td><td><input type="password" name="<{$fieldName|xoops_escape}>" size="<{$len|xoops_escape}>" value="" /></td></tr>
    </table>
<{elseif $viewType eq 'confirm'}>
	******<input type="hidden" name="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>" />
<{/if}>
