<{if $viewType eq 'input'}>
	<select size="5" name="<{$groupName|xoops_escape}>" multiple="multiple" onchange="<{$dirname}>Edit.changeGroupName(this,'<{$fieldName|xoops_escape}>');">
	<{foreach key=key item=listName from=$list}>
		<option label="<{$key|xoops_escape}>_<{$listName|xoops_escape}>" value="<{$key|xoops_escape}>"
			<{foreach item=gid from=$valueList}>
				<{$gid|xoops_escape}>
				<{if $key==$gid}>selected<{/if}>
			<{/foreach}>	
		><{$listName|xoops_escape}></option>
	<{/foreach}>
	</select>
	<input id="<{$fieldName|xoops_escape}>" name="<{$fieldName|xoops_escape}>" type="hidden" value="<{$value|xoops_escape}>" />
<{elseif $viewType eq 'confirm'}>
	<{foreach item=gid from=$valueList name=value}><{if !$smarty.foreach.value.first}>,<{/if}><{foreach key=key item=listName from=$list}><{if $key==$gid}><{$listName|xoops_escape}><{/if}><{/foreach}><{/foreach}>
	<input type="hidden" name="<{$fieldName|xoops_escape}>" value="<{$value|xoops_escape}>" />
<{elseif $viewType eq 'detail'}>
	<{foreach item=value from=$valueList name=value}><{foreach key=key item=listName from=$list}><{if $key==$value|xoops_escape}><{if !$smarty.foreach.value.first}>,<{/if}><{$listName|xoops_escape}><{/if}><{/foreach}><{/foreach}>
<{/if}>
